# Task 1

[Python for Developers](http://ricardoduarte.github.io/python-for-developers/)
This notebook is about taking the next steps with Python Development. There are  chapters about basic Python, web development, databases and much more. 
I find this interesting because I have a passion for computer science and coding, and in my own time I have made some Python applications myself.

# Task 2

A) Python Packages
* [PyGame](https://www.pygame.org/wiki/GettingStarted)
    * Package used to to develop games using Python
* [SQLAlchemy](https://www.sqlalchemy.org/)
    * Python package for SQL, can be used for websites
* [Scrapy](https://scrapy.org/)
    * Packages used for web crawling and extracting data from sites
___
B)
* [PlotNine](https://plotnine.readthedocs.io/en/stable/#)
___
C)
* [Pandas](http://pandas.pydata.org/)

# Task 3

* Importing packages
    * Python
        * import "package" as "alias"
    * R
        * library("package")
* Assigning variables
    * Python
        * "variable" = "something"
        * In Python, cannot use <-, only =
    * R
        * "variable" <- "something"
        * In R, you can use <- or = 
* Loops
    * Python
        * for "something" in "dataframe":
        * Don't need brackets, indentation is KEY
    * R
        * for ("something" in "dataframe") {
        * Need brackets

# Task 4

In [24]:
x = "Snow Leopard"
y = "Lord of the Rings (all 3)"
z = "Game of Thrones"

print "My favorite animal is " + x + ", my favorite movie(s) are " + y + " and my favorite show is " + z

My favorite animal is Snow Leopard, my favorite movie(s) are Lord of the Rings (all 3) and my favorite show is Game of Thrones

# Task 5

In [26]:
num = 16



print "My favorite animal is " + x + ", my favorite movie(s) are " + y + " , my favorite show is " + z + " and my lucky numer is " + str(num)

My favorite animal is Snow Leopard, my favorite movie(s) are Lord of the Rings (all 3) , my favorite show is Game of Thrones and my lucky numer is 16

# Task 6

In [35]:
list = [ x, y, z, str(num)]
all = list[0] + " " + list[1] + " " + list[2] + " " + list[3]

In [38]:
all.count("o")

6

In [39]:
all.find("Rings")

25

# Task 7

In [46]:
print all[0:len(all)/2]

Snow Leopard Lord of the Rin

# Task 8

In [57]:
all.strip(str(num))

'Snow Leopard Lord of the Rings (all 3) Game of Thrones '

In [58]:
all.replace(y, "Avatar: The Last Airbender")

'Snow Leopard Avatar: The Last Airbender Game of Thrones 16'

# Task 9

In [63]:
new_list = all.split()
new_list.insert(len(new_list)/2, "NEW WORD")

# Task 10

In [72]:
import random
rand_num = random.randint(1,101)
if rand_num <= 25:
    print "1st Quartile"
elif rand_num <= 50:
    print "2nd Quartile"
elif rand_num <= 75:
    print "3rd Quartile"
else:
    print "4th Quartile"

1st Quartile

# Task 11

In [73]:
cities = ["Portola Valley", "Menlo Park", "Atherton", "Woodside", "San Francisco", "Sun Valley"]

for city in cities:
    print "Warning, residents of " + city + ", temperatures will reach sub-zero temperatures today, please stay indoors if possible"

Warning, residents of Portola Valley, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Menlo Park, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Atherton, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Woodside, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of San Francisco, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Sun Valley, temperatures will reach sub-zero temperatures today, please stay indoors if possible

# Task 12

In [79]:
states = ["Washington", "California", "Nevada", "Idaho", "Montana", "Utah", "Colorado", "New Mexico"]
files = []

for state in states:
    file = "U://Users/Mbadger/Geog_458/" + state + ".shp"
    print file
    files.append(file)

U://Users/Mbadger/Geog_458/Washington.shp
U://Users/Mbadger/Geog_458/California.shp
U://Users/Mbadger/Geog_458/Nevada.shp
U://Users/Mbadger/Geog_458/Idaho.shp
U://Users/Mbadger/Geog_458/Montana.shp
U://Users/Mbadger/Geog_458/Utah.shp
U://Users/Mbadger/Geog_458/Colorado.shp
U://Users/Mbadger/Geog_458/New Mexico.shp

# Task 13

In [83]:
count = 10
while count >= 0:
    print "T-minus " + str(count)
    count -= 1

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

# Task 13 - Function

In [2]:
def countdown(count):
    while count >= 0:
        print "T-mins " + str(count)
        count -= 1
        
countdown(10)

SyntaxError: invalid syntax (<ipython-input-2-b0e62fd06b0f>, line 3)

# Task 14

In [1]:
def quartile_calc(num):
    if num < 0 or num > 100:
        return "Error"
    elif num <= 25:
        return "1st Quartile"
    elif num <= 50:
        return "2nd Quartile"
    elif num <= 75:
        return "3rd Quartile"
    else:
        return "4th Quartile"